@font-face {
  font-family: 'Walk The Moon Halftone';
  src: url("./walkthemoonhalfital.ttf") format("truetype");
}

@font-face {
  font-family: 'Walk The Moon Super';
  src: url("./walkthemoonsuperital.ttf") format("truetype");
}

@font-face {
  font-family: 'Catamaran';
  src: url("./Catamaran-VariableFont_wght.ttf") format("truetype");
}

nav {
  width: 100%;
  min-height: 10vh;
  max-height: 15vh;
  background-color: teal;
  border: 2px solid #61dafb;
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 20px 0px 0 30px;
    font-size: 2.4rem;
    font-family: Walk The Moon Super;
  }

  button {
    height: 40px;
    width: 40px;
    margin: 20px 0 5px 0;
    border-radius: 50%;
    font-size: 1.4rem;
    font-family: Walk The Moon Halftone;
  }

  .upArrow {
    background: none;
    border: none;
    margin: 15px 20px 0 0;
    cursor: pointer;

    svg {
      height: 50px;
    }
  }

  ul {
    margin-top: 30px;
    display: flex;
    list-style: none;

    li:nth-child(2){
      margin: 0 30px;
    }

    li {

      a {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
        font-family: Walk The Moon Halftone;
      }
    }
  }

  a {
    p {
      margin: 5px 20px 0 0;
      font-size: 3rem;
    }
  }
}


main {
  display: flex;
  flex-wrap: wrap;
  background-color: cadetblue;

  .profileImageContainer {

    .profilePic {
      height: 400px;
      width: 300px;
      border-radius: 25%;
      margin: 50px;
      object-fit: cover;
    }
  }

  .introContainer {
      width: 60%;
      margin: 90px 0 0 20px;

    .headerThree {
      font-family: "Walk The Moon Halftone";
      font-size: 2rem;
    }

    .aboutMeText {
      font-family: Catamaran;
      font-weight: bold;
    }
  }
}

